######
#
# Top level settings.
#
# These will be fed into terraform variables and
# used to provide defaults to Python code.
#

# General infrastructure
PROJECT_ID=${project_id}
REGION=${region}
BQ_REGION=${bq_region}
GCS_REGION=${gcs_region}
REPOSITORY_REGION=${repository_region}
ARTIFACT_REPO_NAME=${artifact_repo_name}

# Cloud run job
CLOUD_RUN_JOB_NAME=${cloud_run_job_name}
SERVICE_ACCOUNT=${service_account}

# Agent builder configuration
AGENT_BUILDER_LOCATION=${agent_builder_location}
AGENT_BUILDER_DATA_STORE_ID=${agent_builder_data_store_id}
AGENT_BUILDER_SEARCH_ID=${agent_builder_search_id}
