# EditorConfig: http://EditorConfig.org
root = true

# Unix-style newlines at the bottom of every file
[*]
end_of_line = lf
charset = utf-8

# Sets the natural language that should be used for spell checking.
# Only one language can be specified
# Ref: https://spec.editorconfig.org/#supported-pairs
spelling_language = en-US

# Tab indentation
indent_style = space
indent_size = 4

# Make sure every file has a blank line at the end
insert_final_newline = true

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false

[{Corefile,Corefile.jinja,Dockerfile}]
indent_size = 2

[*.{hcl.tpl,ino,json,lock.hcl,js,sh,tf,tfvars,yml,yaml,yaml.jinja}]
indent_size = 2

[{Makefile,**.mk,go.mod,go.sum,*.go,.gitmodules}]
indent_size = 4
indent_style = tab

# Defined by markdownlint
[*.md]
indent_size = unset
indent_style = unset

# Match the Google Shell Style Guide: https://google.github.io/styleguide/shellguide.html
[*.sh]
indent_size = 2
indent_style = space
# Files here are shell scripts but don't have a sh extension
# This is a non-standard editorconfig feature that shfmt supports
# Ref: https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#examples

[[shell]]
indent_size = 2
indent_style = space

# Don't try to format binary files
[*.tfvars.enc]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[LICENSE]
# Don't try forcing a style to the LICENSE file because it's a rendered template
indent_size = unset
indent_style = unset

# Don't try forcing a style to the YAML template because it's rendered
[**/**.yaml.template]
indent_size = unset
indent_style = unset

# Don't try forcing a style to the requirements_*.in because it's rendered
[**/**.in]
indent_size = unset
indent_style = unset

# Don't try forcing a style to the requirements_*.txt because it's rendered
[**/requirements*.txt]
indent_size = unset
indent_style = unset
