######
#
# Top level settings.
#
# These will be fed into terraform variables and
# used to provide defaults to Python code.
#

# General infrastructure
PROJECT_ID=${project_id}
REGION=${region}
BQ_REGION=${bq_region}
GCS_REGION=${gcs_region}
REPOSITORY_REGION=${repository_region}
ARTIFACT_REPO_NAME=${artifact_repo}
GCS_INPUT_BUCKET=${gcs_input_bucket}
GCS_PROCESS_BUCKET=${gcs_process_bucket}
GCS_REJECT_BUCKET=${gcs_reject_bucket}

# Cloud run job
PROCESSING_CLOUD_RUN_JOB_NAME=${processing_cloud_run_job_name}
PROCESSING_SERVICE_ACCOUNT=${processing_service_account}

FORM_PARSER_CLOUD_RUN_JOB_NAME=${form_parser_cloud_run_job_name}
FORM_PARSER_SERVICE_ACCOUNT=${form_parser_service_account}

CLASSIFIER_CLOUD_RUN_JOB_NAME=${classifier_cloud_run_job_name}
CLASSIFIER_SERVICE_ACCOUNT=${classifier_service_account}

# Agent builder configuration
AGENT_BUILDER_LOCATION=${agent_builder_location}
AGENT_BUILDER_DATA_STORE_ID=${agent_builder_data_store_id}
AGENT_BUILDER_SEARCH_ID=${agent_builder_search_id}

