# Import the libraries as editable
-e components/processing/libs/processor-base
-e components/processing/libs/processor-msg
-e components/processing/libs/processor-xlsx
-e components/webui

# Additional development tools (relative to current file)
-r ../components/dpu-workflow/requirements.in
-r ../components/processing/form_parser/src/requirements.in
-r ../components/invoice-parser/src/requirements.in

# Additional development and bootstrap tools
-r requirements_dev.in
-r requirements_bootstrap.in
