######
#
# Top level settings.
#
# These will be fed into terraform variables and
# used to provide defaults to Python code.
#

# General infrastructure
PROJECT_ID=${project_id}
REGION=${region}
REPOSITORY_REGION=${repository_region}
ARTIFACT_REPO_NAME=${artifact_repo_name}

# Cloud run job
CLOUD_RUN_JOB_NAME=${cloud_run_job_name}
SERVICE_ACCOUNT=${service_account}
