name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v5
      with:
        python-version: 'pypy3.9'
        cache: 'pip' # caching pip dependencies
    - run: invoke.sh
#      run: pip install -r requirements.txt
    - uses: cloudposse/github-action-pre-commit@v2.1.2
